.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
.next

# Editor directories and files
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ipython notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb

# some randomness
*.backup
addresses.txt